* {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  nav {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
  }
  
  .plus-color {
    color: yellow;
    font-weight: 500;
  }
  .logo p {
    color: white;
    position: relative;
    top: -5px;
  }
  .search {
    background-color: white;
    padding: 8px 10px;
    width: 500px;
    height: 20px;
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
    color: blue;
    box-shadow: -7px -7px 10px rgb(0, 0, 0, 0.1), 7px 7px 10px rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
  }
  .search input {
    width: 380px;
    border: none;
    outline: none;
    font-size: 14px;}
  
  .loginBtn {
    padding: 7px 40px;
    font-size: 15px;
    font-weight: 550;
    border: none;
    outline: none;
    color: blue;
    cursor: pointer;
  }
  .Navlink {
    margin: 0px 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
  .angledownIcon i {
    font-size: 10px;
  }
  .recent_Search {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: -5px 5px 7px rgb(0, 0, 0, 0.2), 5px 5px 10px rgb(0, 0, 0, 0.2);
    height: 350px;
    width: 500px;
    top: 49px;
    margin-left: -10px;
    padding: 8px 10px;
    border-top: 1px solid #ccc;
  }
  .recent_search_list {
    font-size: 16px;
    display: flex;
    color: rgb(95, 94, 94);
  }
  .recent_search_list p,
  .recent_search_list_Discover p {
    padding-left: 15px;
    color: rgb(24, 22, 22);
  }
  .discoverMore {
    margin: 15px 0px;
    font-size: 15px;
    color: rgb(95, 94, 94);
  }
  .recent_search_list_Discover {
    padding: 10px 0px;
    display: flex;
  }
  .recent_search_list_Discover i {
    color: rgb(95, 94, 94);
    font-size: 20px;
  }
  .search:focus-within .recent_Search {
    display: block;
  }
  .HoverLogin {
    position: absolute;
    top: 61px;
    height: 350px;
    background-color: white;
    width: 200px;
    margin-left: -100px;
    box-shadow: -5px 5px 7px rgb(0, 0, 0, 0.2), 5px 5px 10px rgb(0, 0, 0, 0.2);
  
    align-items: center;
    flex-direction: column;
    padding: 0px 20px;
    font-weight: 500;
    color: #000;
    display: none;
  }
  .triangle-up {
    position: relative;
    height: 0;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid white;
    top: -12px;
  }
  .Newuser {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 15px;
  }
  .Newuser a {
    color: royalblue;
    text-decoration: none;
  }
  .Newuser a:hover {
    text-decoration: underline;
  }
  .menuList {
    display: flex;
    padding: 15px 0px;
  }
  .loginMenu {
    width: 230px;
    margin-top: 25px;
  }
  .menuList p {
    padding-left: 20px;
  }
  .menuList i {
    color: royalblue;
  }
  .loginBtn:hover .HoverLogin {
    display: flex;
    cursor: pointer;
  }
  .angledownIcon:hover .moreIcon {
    transition: 0.5s;
    transform: rotate(-180deg);
  }
  .MoreOptionDisplay_Container {
    position: relative;
    height: 1px;
    display: none;
  }
  .Moreoption_Content {
    position: absolute;
    margin-top: 20px;
    width: 300px;
    margin-left: -110px;
    box-shadow: -5px 5px 7px rgb(0, 0, 0, 0.2), 5px 5px 10px rgb(0, 0, 0, 0.2);
    background-color: white;
    color: #000;
  }
  .Moreoption {
    display: flex;
    padding: 15px;
    display: flex;
  }
  .Moreoption i {
    font-size: 15px;
    color: #2874f0;
  }
  .Moreoption p {
    padding-left: 15px;
  }
  .angledownIcon:hover .MoreOptionDisplay_Container {
    display: block;
  }
  .topProductNavbar {
    height: 100px;
    justify-content: center;
    display: flex;
    padding: 10px 50px;
    border-bottom: 1px solid #ccc;
  }
  
  .topProductNavbar_Nav {
    width: 80px;
    height: 110px;
    cursor: pointer;
    flex: 1;
  }
  .topProductNavbar_Nav img {
    width: 64px;
    height: 64px;
  }
  .topProductNavbar_Nav p {
    font-weight: 510;
  }
  .topProductNavbar_Nav:hover p {
    color: #2874f0;
  }
  .slider {
    position: relative;
    background-color: #f1f3f6;
    height: 280px;
    padding: 10px 0px;
  }
  
  .Slider_image {
    position: absolute;
  
    background-color: #f1f3f6;
  
    z-index: 8;
    top: 15px;
    width: 99%;
    height: 90%;
  }
  .btn-container {
    position: absolute;
    z-index: 10;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .btn-container button {
    padding: 30px 12px;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    border-radius: 5px;
    z-index: 13;
  }
  
  .Slider_image_Item {
    min-width: 99%;
    width: 100%;
    max-width: 99%;
    height: 100%;
    animation: 2s Slider_image_Item;
  }
  .Slider_image_Item img {
    width: 100%;
  }