container .glow {
 position: absolute;

width: 100px;

height: 10px;

transform: rotate(45deg);
 transform-origin: center;

left: 4px;

opacity: 0.21;
 top:2px;

box-shadow: 5px 5px 5px 5px #1594; 
transition: all 0.56 eate;

animation: glowing 2.3s ease-in-out infinite;

background-color: #159458;
}

container .glow before {

content: '';
 position: absolute;

width: 100px;
 height: 100px;


top: 68px;

left:-1px;

border-radius: 50% ;
 background-color: #159488;

box-shadow: Spx 5px 5px 5px #159468; transition: all 8.5s ease;

animation: glaving 2.3s ease-in-out infinite; background-color: #159458;

}
container .glow after { 
    content:'';

position: absolute;

width: 100px; height: 100px;

top: 0px;
 left: -64px;

border-radius: 50%;

background-color: #159468; 
box-shadow: 5px 5px 5px 5px;


transition: all 0.5s ease;

animation: gloving 2.5s ease-in-out infinite;